<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UrDynamicSqlMapper">
    
    <resultMap type="UrDynamicSql" id="UrDynamicSqlResult">
        <result property="id"    column="id"    />
        <result property="queryCode"    column="query_code"    />
        <result property="queryName"    column="query_name"    />
        <result property="queryType"    column="query_type"    />
        <result property="dataSourceName"    column="data_source_name"    />
        <result property="sqlTemplate"    column="sql_template"    />
        <result property="beforeScript"    column="before_script"    />
        <result property="afterScript"    column="after_script"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createName"    column="create_name"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUrDynamicSqlVo">
        select id, query_code, query_name, query_type, data_source_name, sql_template, before_script, after_script, version, del_flag, order_num, create_name, create_id, create_time, update_name, update_id, update_time, remark from ur_dynamic_sql
    </sql>

    <select id="selectUrDynamicSqlList" parameterType="UrDynamicSql" resultMap="UrDynamicSqlResult">
        <include refid="selectUrDynamicSqlVo"/>
        <where>  
            <if test="queryCode != null  and queryCode != ''"> and query_code = #{queryCode}</if>
            <if test="queryName != null  and queryName != ''"> and query_name like concat('%', #{queryName}, '%')</if>
            <if test="queryType != null  and queryType != ''"> and query_type = #{queryType}</if>
            <if test="dataSourceName != null  and dataSourceName != ''"> and data_source_name like concat('%', #{dataSourceName}, '%')</if>
            <if test="sqlTemplate != null  and sqlTemplate != ''"> and sql_template = #{sqlTemplate}</if>
            <if test="beforeScript != null  and beforeScript != ''"> and before_script = #{beforeScript}</if>
            <if test="afterScript != null  and afterScript != ''"> and after_script = #{afterScript}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="createName != null  and createName != ''"> and create_name like concat('%', #{createName}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateName != null  and updateName != ''"> and update_name like concat('%', #{updateName}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectUrDynamicSqlById" parameterType="String" resultMap="UrDynamicSqlResult">
        <include refid="selectUrDynamicSqlVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUrDynamicSql" parameterType="UrDynamicSql">
        insert into ur_dynamic_sql
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="queryCode != null and queryCode != ''">query_code,</if>
            <if test="queryName != null">query_name,</if>
            <if test="queryType != null">query_type,</if>
            <if test="dataSourceName != null">data_source_name,</if>
            <if test="sqlTemplate != null and sqlTemplate != ''">sql_template,</if>
            <if test="beforeScript != null">before_script,</if>
            <if test="afterScript != null">after_script,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createName != null">create_name,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="queryCode != null and queryCode != ''">#{queryCode},</if>
            <if test="queryName != null">#{queryName},</if>
            <if test="queryType != null">#{queryType},</if>
            <if test="dataSourceName != null">#{dataSourceName},</if>
            <if test="sqlTemplate != null and sqlTemplate != ''">#{sqlTemplate},</if>
            <if test="beforeScript != null">#{beforeScript},</if>
            <if test="afterScript != null">#{afterScript},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateUrDynamicSql" parameterType="UrDynamicSql">
        update ur_dynamic_sql
        <trim prefix="SET" suffixOverrides=",">
            <if test="queryCode != null and queryCode != ''">query_code = #{queryCode},</if>
            <if test="queryName != null">query_name = #{queryName},</if>
            <if test="queryType != null">query_type = #{queryType},</if>
            <if test="dataSourceName != null">data_source_name = #{dataSourceName},</if>
            <if test="sqlTemplate != null and sqlTemplate != ''">sql_template = #{sqlTemplate},</if>
            <if test="beforeScript != null">before_script = #{beforeScript},</if>
            <if test="afterScript != null">after_script = #{afterScript},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUrDynamicSqlById" parameterType="String">
        delete from ur_dynamic_sql where id = #{id}
    </delete>

    <delete id="deleteUrDynamicSqlByIds" parameterType="String">
        delete from ur_dynamic_sql where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>