<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UrTemplateBaseMapper">
    
    <resultMap type="UrTemplate" id="UrTemplateResult">
        <result property="id"    column="id"    />
        <result property="templateCode"    column="template_code"    />
        <result property="template"    column="template"    />
        <result property="javascript"    column="javascript"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createName"    column="create_name"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUrTemplateVo">
        select id, template_code, template, javascript, version, del_flag, order_num, create_name, create_id, create_time, update_name, update_id, update_time, remark from ur_template
    </sql>

    <select id="selectUrTemplateList" parameterType="UrTemplate" resultMap="UrTemplateResult">
        <include refid="selectUrTemplateVo"/>
        <where>  
            <if test="templateCode != null  and templateCode != ''"> and template_code = #{templateCode}</if>
            <if test="template != null  and template != ''"> and template = #{template}</if>
            <if test="javascript != null  and javascript != ''"> and javascript = #{javascript}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="createName != null  and createName != ''"> and create_name like concat('%', #{createName}, '%')</if>
            <if test="createId != null  and createId != ''"> and create_id = #{createId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateName != null  and updateName != ''"> and update_name like concat('%', #{updateName}, '%')</if>
            <if test="updateId != null  and updateId != ''"> and update_id = #{updateId}</if>
        </where>
    </select>
    
    <select id="selectUrTemplateById" parameterType="String" resultMap="UrTemplateResult">
        <include refid="selectUrTemplateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUrTemplate" parameterType="UrTemplate">
        insert into ur_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="templateCode != null and templateCode != ''">template_code,</if>
            <if test="template != null">template,</if>
            <if test="javascript != null">javascript,</if>
            <if test="version != null">version,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createName != null">create_name,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="templateCode != null and templateCode != ''">#{templateCode},</if>
            <if test="template != null">#{template},</if>
            <if test="javascript != null">#{javascript},</if>
            <if test="version != null">#{version},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateUrTemplate" parameterType="UrTemplate">
        update ur_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateCode != null and templateCode != ''">template_code = #{templateCode},</if>
            <if test="template != null">template = #{template},</if>
            <if test="javascript != null">javascript = #{javascript},</if>
            <if test="version != null">version = #{version},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUrTemplateById" parameterType="String">
        delete from ur_template where id = #{id}
    </delete>

    <delete id="deleteUrTemplateByIds" parameterType="String">
        delete from ur_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>