<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UrTemplateMapper">
    
    <resultMap type="UrTemplate" id="UrTemplateResult">
        <result property="ID"    column="ID"    />
        <result property="templateCode"    column="TEMPLATE_CODE"    />
        <result property="TEMPLATE"    column="TEMPLATE"    />
        <result property="JAVASCRIPT"    column="JAVASCRIPT"    />
        <result property="VERSION"    column="VERSION"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="orderNum"    column="ORDER_NUM"    />
        <result property="createName"    column="CREATE_NAME"    />
        <result property="createId"    column="CREATE_Id"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateName"    column="UPDATE_NAME"    />
        <result property="updateId"    column="UPDATE_Id"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="REMARK"    column="REMARK"    />
    </resultMap>

    <sql id="selectUrTemplateVo">
        select ID, TEMPLATE_CODE, TEMPLATE, JAVASCRIPT, VERSION, DEL_FLAG, ORDER_NUM, CREATE_NAME, CREATE_Id, CREATE_TIME, UPDATE_NAME, UPDATE_Id, UPDATE_TIME, REMARK from ur_template
    </sql>

    <select id="selectUrTemplateList" parameterType="UrTemplate" resultMap="UrTemplateResult">
        <include refid="selectUrTemplateVo"/>
        <where>  
            <if test="templateCode != null  and templateCode != ''"> and TEMPLATE_CODE = #{templateCode}</if>
            <if test="TEMPLATE != null  and TEMPLATE != ''"> and TEMPLATE = #{TEMPLATE}</if>
            <if test="JAVASCRIPT != null  and JAVASCRIPT != ''"> and JAVASCRIPT = #{JAVASCRIPT}</if>
            <if test="VERSION != null  and VERSION != ''"> and VERSION = #{VERSION}</if>
            <if test="delFlag != null  and delFlag != ''"> and DEL_FLAG = #{delFlag}</if>
            <if test="orderNum != null "> and ORDER_NUM = #{orderNum}</if>
            <if test="createName != null  and createName != ''"> and CREATE_NAME like concat('%', #{createName}, '%')</if>
            <if test="createId != null  and createId != ''"> and CREATE_Id = #{createId}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="updateName != null  and updateName != ''"> and UPDATE_NAME like concat('%', #{updateName}, '%')</if>
            <if test="updateId != null  and updateId != ''"> and UPDATE_Id = #{updateId}</if>
            <if test="updateTime != null "> and UPDATE_TIME = #{updateTime}</if>
            <if test="REMARK != null  and REMARK != ''"> and REMARK = #{REMARK}</if>
        </where>
    </select>
    
    <select id="selectUrTemplateById" parameterType="String" resultMap="UrTemplateResult">
        <include refid="selectUrTemplateVo"/>
        where ID = #{ID}
    </select>
        
    <insert id="insertUrTemplate" parameterType="UrTemplate">
        insert into ur_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="templateCode != null and templateCode != ''">TEMPLATE_CODE,</if>
            <if test="TEMPLATE != null">TEMPLATE,</if>
            <if test="JAVASCRIPT != null">JAVASCRIPT,</if>
            <if test="VERSION != null">VERSION,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="orderNum != null">ORDER_NUM,</if>
            <if test="createName != null">CREATE_NAME,</if>
            <if test="createId != null">CREATE_Id,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateName != null">UPDATE_NAME,</if>
            <if test="updateId != null">UPDATE_Id,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="REMARK != null">REMARK,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="templateCode != null and templateCode != ''">#{templateCode},</if>
            <if test="TEMPLATE != null">#{TEMPLATE},</if>
            <if test="JAVASCRIPT != null">#{JAVASCRIPT},</if>
            <if test="VERSION != null">#{VERSION},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="REMARK != null">#{REMARK},</if>
         </trim>
    </insert>

    <update id="updateUrTemplate" parameterType="UrTemplate">
        update ur_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateCode != null and templateCode != ''">TEMPLATE_CODE = #{templateCode},</if>
            <if test="TEMPLATE != null">TEMPLATE = #{TEMPLATE},</if>
            <if test="JAVASCRIPT != null">JAVASCRIPT = #{JAVASCRIPT},</if>
            <if test="VERSION != null">VERSION = #{VERSION},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="orderNum != null">ORDER_NUM = #{orderNum},</if>
            <if test="createName != null">CREATE_NAME = #{createName},</if>
            <if test="createId != null">CREATE_Id = #{createId},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateName != null">UPDATE_NAME = #{updateName},</if>
            <if test="updateId != null">UPDATE_Id = #{updateId},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="REMARK != null">REMARK = #{REMARK},</if>
        </trim>
        where ID = #{ID}
    </update>

    <delete id="deleteUrTemplateById" parameterType="String">
        delete from ur_template where ID = #{ID}
    </delete>

    <delete id="deleteUrTemplateByIds" parameterType="String">
        delete from ur_template where ID in 
        <foreach item="ID" collection="array" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>

</mapper>