package ${packageName}.service.impl;

import org.springframework.stereotype.Service;
import ${packageName}.service.I${ClassName}Service;
import ${packageName}.service.impl.abs.Abstract${ClassName}ServiceImpl;

/**
 * ${functionName}Service业务层处理
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl extends Abstract${ClassName}ServiceImpl implements I${ClassName}Service {

}
