package ${packageName}.service;

import ${packageName}.service.base.I${ClassName}BaseService;

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends I${ClassName}BaseService {

}
