<!DOCTYPE html>
<html>
<head>
  <title>DataV</title>
  <script src="../../static/common/vue.min.js" type="text/javascript"></script>
  <!--Debug version-->
  <!--调试版-->
<!--  <script src="../static/bigscreen/datav.map.vue.js"></script>-->
  <!--Compression version-->
  <!--压缩版-->
  <script src="../../static/bigscreen/datav.min.vue.js"></script>

  <style>
    html, body, #app {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }

    .border-box-content {
      color: rgb(66,185,131);
      font-size: 40px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>


</head>
<body>
<div id="app">
  <div id="data-view">
    <div id="dv-full-screen-container">

    </div>
  </div>
</div>

  <script>
    var app = new Vue({
      el: '#app'
    })
  </script>
</body>
</html>
